PORT=4002
NODE_ENV=development
MONGODB_URI=mongodb://mongo:27017/users_db
JWT_SECRET=dev-secret-change-me
NATS_URL=nats://nats:4222
CLIENT_URL=http://localhost:5173
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=avatars
PUBLIC_FILES_URL=http://localhost:9000
