PORT=4005
NODE_ENV=development
MONGODB_URI=mongodb://mongo:27017/rewards_db
JWT_SECRET=dev-secret-change-me
NATS_URL=nats://nats:4222
REDIS_URL=redis://redis:6379
CLIENT_URL=http://localhost:5173
BASE_CURRENCY=USD
FX_API_URL=https://api.exchangerate.host/latest
FX_TTL_SECONDS=86400
