PORT=4009
NODE_ENV=development
MONGODB_URI=mongodb://mongo:27017/analytics_db
JWT_SECRET=dev-secret-change-me
NATS_URL=nats://nats:4222
CLIENT_URL=http://localhost:5173
AUTH_SERVICE_URL=http://auth-service:4001
REWARD_SERVICE_URL=http://reward-service:4005
